<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dalishen.demo.mapper.FileModifiedTimeMapper" >




    <!-- 批量插入 -->
    <insert id ="batchInsert" parameterType="java.util.List" >
        insert into t_file_modified_time
        (file_path, file_name, file_modified_time, create_date, creator)
        values
        <foreach collection ="list" item="fileModifiedTime"
                 index= "index" separator =",">
            (
            #{fileModifiedTime.filePath},
            #{fileModifiedTime.fileName},
            #{fileModifiedTime.modifiedTime},
            #{fileModifiedTime.createTime},
            #{fileModifiedTime.creator}
            )
        </foreach >
    </insert >


</mapper>